body {
    font-family: 'Ubuntu', sans-serif;
    width: 1366px;
    height: 770px;
    color: white;
    margin: auto;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    height: 58px;
    background-color: rgba(0,0,0,0.41);
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}

.images {
    margin-left: 697px;
}

.logo-1:hover path {
    fill: #01813F;
    transition-delay: 100ms;
    transition-duration: 300ms;
}
.logo-2 {
    margin-left: 27px;
    margin-right: 24px;
}
.logo-2:hover path {
    fill: #01813F;
    transition-delay: 100ms;
    transition-duration: 300ms;
}
.logo-3 {
    padding-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 25px;
}
.logo-3:hover path {
    fill: #01813F;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

#title {
    font-size: 22px;
    font-weight: 700;
    margin-left: 79px;
    letter-spacing: 1px;
    width: 157px;
}
#title:hover {
    color: #3CB878;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

.sign {
    font-size: 14px;
    width: 176px;
    margin-right: 79px;
}

.sign span:hover {
    color: #3cB878;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

form {
    position: relative;
    width: 444px;
    height: 584px;
    margin: auto;
    background-color: white;
    border-radius: 2px;
}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 29px;
}

#click {
    position: absolute;
    left: 43px;
    top: 28px;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

#button {
    position: absolute;
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    top: 32px;
    right: 59px;
}

#button:hover {
    border-bottom: 1px solid rgba(1,129,63,1);
    color: rgba(1,129,63,1);
}

.account {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: row;
    width: 326px;
    height: 48px;
    justify-content: space-between;
    margin: 13px auto;
}

#blue {
    width: 160px;
    background-color: rgba(48,93,184,1);
    border: 0 solid white;
    border-radius: 4px;
    position: relative;
}

#blue span {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 400;
    top: 17px;
    right: 22px;
}

#blue img {
    width: 12.5px;
    height: 24px;
    position: absolute;
    bottom: 12px;
    left: 16.8px;
    padding-right: 18.7px;
    border-right: 1px solid rgba(10,22,47,0.1);
}

#blue:hover {
    background-color: rgba(2,34,99,1);
    cursor: pointer;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

#red {
    width: 160px;
    background-color: #DF4A32;
    border: 0 solid white;
    border-radius: 4px;
    position: relative; 
}

#red span {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 400;
    top: 17px;
    right: 27px;
}

#red img {
    width: 30px;
    height: 19px;
    position: absolute;
    bottom: 14px;
    left: 12px;
    border-right: 1px solid rgba(43,13,9,0.1);
    padding-right: 7px;
}
#red:hover {
    background-color: rgb(171,31,9,1);
    cursor: pointer;
    transition-delay: 100ms;
    transition-duration: 300ms;
}

h6 {
    position: relative;
    margin: 31px auto 12px auto;
    font-size: 14px;
    font-weight: 400;
    color: black;
    left: 215px;
    top: 48px;
}

.flex {
    position: relative;
    top: 40px;
    left: 61px;
    display: flex;
    flex-direction: column;
    width: 322px;
    height: 390px;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 324px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    color: rgba(190,190,190,1);
    opacity: 0.5;
    border-radius: 4px;
    font-size: 14px;
}

.tick {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
input:focus {
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    outline-color: white;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(67,67,67,1);
    font-size: 14px;
    font-weight: 400;
    width: 272px;
    position: relative;
    right: 35px;
}
.link:hover {
    border-bottom: 1px solid #01813F;
    color: #01813F;
}
.item {
    padding: 16px 99px;
    font-size: 16px;
    background-color: rgba(60,184,120,0.8);
    border-radius: 4px;
    border: 0 solid black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(1,129,63,1);
    transition-delay: 100ms;
    transition-duration: 300ms;
}

.link {
    margin-left: 4px;
    color: rgba(60,184,120,1);
}
